  <!-- BASELINE COMPARISONS -->
  <section class="hero teaser">
    <div class="hero-body">
    <div style='border-radius:1em;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;padding:1em;' class="container is-max-desktop has-text-centered">
      <br/>
      <h2 class="title">Baseline Comparisons</h2>
      <div class="content has-text-justified">
        <p class="content has-text-justified">
          Comparisons against various baselines. Our results are better!
        </p>
      </div>
        <div style='border-radius:1em;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;padding:1em;' class="container is-max-desktop has-text-centered">
          <h5 style="text-align:left;">Scene Selection</h5>
          <div id='simulated-scene-selector_data' style="display:flex; flex-flow: row wrap; justify-content: space-evenly;">
          </div>
        </div>
  </section>

  