

<section class="hero">
    <div class="hero-body" style="padding-bottom:0;">
      <div class="container is-max-desktop">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h1 style="font: 1em;" class="title is-1 publication-title text-muted" >
              Generating the Past, Present and Future from a Motion-Blurred Image
            </h1>
            <div class="is-size-5 publication-authors">
              <span class="author-block">Anonymous Author(s)</span>
            </div>
            <div class="is-size-5 publication-authors">
              <span class="author-block">Submission ID: 1460</span>
            </div>
            <div class="is-size-5 publication-authors">
              <span class="author-block">SIGGRAPH Asia 2025</span>
            </div>

            <div>
  <span class="author-block">
    <strong>Website was tested and built on Chrome. If you have any issues, please try another browser. </strong> 
  </span>
</div>
<div>
  <span class="author-block">
    <strong>All video files are located in the 
    <a href="assets/" target="_blank"><strong>assets</strong></a> 
    directory of our webpage.</strong>
  </span>
</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br/>
